/* Loading and error overlap components  */

.tableOverlap {
    text-align: center;
    margin-right: 30px;
}

.tableOverlap svg {
    font-size: 5rem;
    color: #943232;
    height: 110px;
    width: 120px;
    margin: auto;
}
