.section {
    max-width: 1647px;
    margin: 0 auto;
}

.section-services header {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.section-services header h2 {
    font-weight: 600;
    letter-spacing: 1%;
}

header span {
    color: #327dc4;
}

header p {
    text-transform: uppercase;
    letter-spacing: 10%;
}

.services-container {
    display: flex;
    justify-content: space-between;
}

.service-card {
    display: flex;
    flex: 0 0 calc(33% - 1.5em);
    flex-direction: column;
    border-radius: 1.5em;
    background-color: #819daf;
}

.media {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    border-radius: 1.5em 1.5em 0 0;
}

.media a {
    display: flex;
    flex-grow: 1;
    /* width: fit-content; */
    object-fit: cover;
    align-self: stretch;
}

.media img {
    flex-shrink: 0;
    flex-grow: 1;
    width: fit-content;
    object-fit: cover;
    align-self: stretch;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}

.card-content h3 {
    letter-spacing: -3%;
}

.card-content p {
    max-width: 37ch;
}

.button {
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    background-color: #327dc4;
}
