html {
    font-size: 16px;
    line-height: 1.5;
}
body {
    min-width: 1300px;
    margin: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p,
ol,
ul {
    padding-bottom: 1.5rem;
}

ul,
ol {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
}
ul.squared {
    list-style-type: square;
}
ul.disc {
    list-style-type: disc;
}
ul.circle {
    list-style-type: circle;
}
hr {
    border: none;
    border-top: 1px solid #333;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}
table {
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}
thead {
    background-color: #ccc;
}
tbody tr:nth-child(odd) {
    background-color: #efefef;
}
th,
td {
    width: 26.4rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
}
blockquote > p {
    font-style: italic;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    border-left: 4px solid #ccc;
}
p[author] {
    width: 75rem;
    text-align: end;
}
