@media (width <= 600px) {

    .primary{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .primary header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .primary header nav a:nth-child(2){
    padding:  10px  ;
    border: none;
    }

    main .pair{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    main .pair .planet{
    width: 100%;
    align-items: center;
    margin: 1em
    }

    .planet_info{
    text-align: center;
    }

    .planet_info p{
    padding: 0 1.65em 0.5em 1.65em;
    }

    .news{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    }

    .news ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    }

    .news ul li{
    text-align: center;
    }

    footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .primary footer nav a:nth-child(even){
    padding:  10px  ;
    border: none;
    }
}