/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 "Lato", sans-serif;
    color: #333;
}

body,
input,
form,
textarea,
select,
option,
button {
    font: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #f5f5f5;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    flex: 0 1 410px;
    padding: 2em;
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.form-login header {
    padding-bottom: 1em;
}

.form-login input {
    display: block;
    width: 100%;
    line-height: 1;
}

.form-login .form-field {
    display: flex;
    flex-direction: column;
    color: #666;
    position: relative;
    margin-top: 3em;
}

.form-login .form-field label {
    order: -1;
    position: absolute;
    top: 1em;
    left: 0;
    line-height: 1;
    transition: transform 0.3s ease-in-out;
}

.form-login .form-field input {
    border: none;
    border-bottom: 0.2em solid #ddd;
    padding: 1em 0;
    outline: none;
}

.form-login .form-field input::placeholder {
    color: transparent;
}

.form-login .form-field input:not(:placeholder-shown) ~ label {
    transform: translateY(-1.5em);
    opacity: 1;
}

.form-login .form-field input:focus {
    border-color: orange;
}

.form-login .form-field input:focus ~ label {
    color: orange;
}

.form-login .form-field input:required ~ label::after {
    display: inline-block;
    content: "*";
    color: #c00;
    padding-left: 0.5em;
}
