@media (width <=600px) {
    .home-navbar {
       align-items: center;
    }
    .home-hero {
        flex-direction: column;
    }

    .home-features {
        height: auto;
    }

    .home-heading-container {
        width: 100%;
    }
    .home-cards-container {
        flex-direction: column;
    }
    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2 {
        width: 100%;
    }
    .home-stats {
        display: flex;
        flex-direction: column;
    }
    .home-hero-text-container {
        width: 100%;
        margin-left: 0;
        align-items: center;
    }
    .home-cta-btn2 {
        align-self: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    .home-image1{
        width: 100%;
        order: -1;
    }
}