 /* footer */
 
 footer{
    margin: 0 auto;
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    background-color: #1B9772;
    text-align: center;
    letter-spacing: 2px;
    color: #50DBB1;
 }

 footer span{
    color: #fff;
 }