body {
    background: url("/image/fitness-main.jpg");
    background-size: 100% auto;
    background-position: center -22em;
    background-repeat: no-repeat;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-footer {
    margin-top: auto;
}
