
body {
    background: #FFFFFF; 
}  

.pet-shop {
    display: flex;
    flex-wrap: wrap;
    gap:3em;
    max-width: 1808px;
    padding: 2em 5em;
    margin: 4em auto;
    background: #FFFFFF;
    box-shadow: 1em 1em 2em rgba(0, 1, 9, 0.25);
}