/* Reset CSS */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 "Lato", sans-serif;
    color: #333;
}

body,
input,
textarea,
select,
option {
    font: inherit;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Navigation */

body {
    padding: 2em;
    background: #eee;
}
body::before {
    display: block;
    background-color: #369;
    color: #fff;

    margin-bottom: 2em;
    border-radius: 0.3em;
    padding: 1em 2em;
}

.site {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 2em;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul {
    display: flex;
    gap: 1em;
}

.main-nav li {
    display: block;
    list-style: none outside;
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background: darkorange;
    color: #333;
    font-weight: bold;
}

.main-nav a:hover {
    background: orange;
    color: #fff;
}

@media (hover: hover) {
    body::before {
        content: "Hover!";
    }
    #main-nav-toggle,
    label[for="main-nav-toggle"] {
        display: none;
    }
}

@media (hover: none) {
    body::before {
        background: #090;
        content: "NO Hover!";
    }

    #main-nav-toggle {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        position: absolute;
        padding: 2em;
        inset: 0;
    }

    .main-nav ul {
        flex-direction: column;
    }

    #main-nav-toggle:not(:checked) + .site label .close {
        display: none;
    }

    #main-nav-toggle:not(:checked) + .site .site-header .main-nav {
        display: none;
    }

    #main-nav-toggle:checked + .site label .open {
        display: none;
    }

    #main-nav-toggle:checked + .site label[for="main-nav-toggle"] {
        position: absolute;
        top: 2em;
        right: 2em;
        padding: 0.5em;
        background: orange;
        color: #fff;
        border-radius: 0.3em;
        z-index: 1000;
    }
}
