
.logo-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo-container a{
    color: #fff;
    line-height: 0.1;
}

.logo-container h1{
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   background-color: #57A390;
   line-height: 1.1;
   letter-spacing: 6px;  
   font-weight: 500;        
}

.logo-container p{
    color: #444;
    font-weight: bold;
}

.main-nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.main-nav a{
    font-weight: bold;
}

.main-nav a.active{
    color: #fff;
    background-color: #444;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

