/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font: 14px/1.5 "Lato", sans-serif;
    color: #333;
}

body,
input,
textarea,
select,
option,
button,
label {
    font: inherit;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* CSS Reset */

/* Lab-08-Fieldset */
body {
    padding: 2em;
}

h2 {
    margin-top: 2em;
}

code {
    display: block;
    background-color: #f1f1f1;
    padding: 2mm 2em 0.5em 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    overflow: auto;
}

fieldset {
    padding: 2em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    max-width: 50ch;
}
fieldset > * {
    font-weight: bold;
}

fieldset legend {
    padding: 0 1em;
    font-weight: bold;
}

fieldset input {
    display: block;
    width: 100%;
}
input[type="text"],
input[type="password"] {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    outline: none;
}
input[type="text"]:focus {
    border-color: #090;
}
.field {
    padding-bottom: 1.5em;
}
