@media (max-width: 600px) {
    header .div-header {
        display: none;
    }
    .options {
        flex-direction: column;
        align-items: center;
    }
    section.options article {
        width: 100%;
        text-align: center;
    }
    section.options article a {
        display: none;
    }
    .gallery {
        flex-direction: column;
        align-items: center;
    }
    section.gallery article {
        width: 100%;
        text-align: center;
    }
    section.gallery article a {
        display: none;
    }

    section.blog {
        padding: 0em;
    }

    .blog .blog-title h4 {
        font-size: 1.2em;
    }

    .blog .blog-title {
        padding: 2em 0 0 4em;
    }

    .blog-title h4 span {
        display: none;
    }

    .blog-title a {
        display: none;
    }

    .blog article {
        padding: 2em;
    }
    article #about-blog {
        width: 100%;
        height: 100%;
    }

    .blog article img {
        display: none;
    }

    .magazine .magazine-title h4 {
        font-size: 1em;
    }

    .magazine-title a {
        display: none;
    }

    section.magazine {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        align-items: center;
    }

    section.magazine article {
        flex: 1 0 100%;
        flex-direction: column;
        align-items: center;
    }

    article .magazine-info img {
        width: 100%;
        height: 100%;
    }

    article .magazine-info {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    article .magazine-info p {
        padding-top: 2em;
    }
    footer {
        flex-direction: column;
    }
    footer .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section .magazine-title {
        padding: 1em 0 0 5em;
        width: 85%;
    }
}
